services:
  kafka-broker-1:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-1
    ports:
      - 29092:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29092,CONTROLLER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-1:9092,EXTERNAL://localhost:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-1/logs
    volumes: 
      - kafka_volume_1:/tmp/kafka-broker-1/logs

  kafka-broker-2:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-2
    ports:
      - 29094:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29094,CONTROLLER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-2:9092,EXTERNAL://localhost:29094
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-2/logs
    volumes: 
      - kafka_volume_2:/tmp/kafka-broker-2/logs

  kafka-broker-3:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-3
    ports:
      - 29096:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29096,CONTROLLER://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-3:9092,EXTERNAL://localhost:29096
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-3/logs
    volumes: 
      - kafka_volume_3:/tmp/kafka-broker-3/logs

  kafka-broker-4:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-4
    ports:
      - 29098:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29098
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-4:9092,EXTERNAL://localhost:29098
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-4/logs
    volumes: 
      - kafka_volume_4:/tmp/kafka-broker-4/logs

  kafka-broker-5:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-5
    ports:
      - 29100:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29100
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-5:9092,EXTERNAL://localhost:29100
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-5/logs
    volumes: 
      - kafka_volume_5:/tmp/kafka-broker-5/logs

  kafka-broker-6:
    user: root
    image: apache/kafka:4.0.0
    container_name: kafka-broker-6
    ports:
      - 29102:29092
    environment:
      KAFKA_CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-broker-1:9093,2@kafka-broker-2:9093,3@kafka-broker-3:9093
      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29102
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-broker-6:9092,EXTERNAL://localhost:29102
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LOG_DIRS: /tmp/kafka-broker-6/logs
    volumes: 
      - kafka_volume_6:/tmp/kafka-broker-6/logs

  kafka-ui:
      image: provectuslabs/kafka-ui:latest
      container_name: kafka-cluster-ui
      hostname: kafka-cluster-ui
      ports:
          - "9000:8080"
      environment:
          DYNAMIC_CONFIG_ENABLED: "true"
          KAFKA_CLUSTERS_0_NAME: "Kafka Cluster"
          KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka-broker-1:9092,kafka-broker-2:9092,kafka-broker-3:9092,kafka-broker-4:9092,kafka-broker-5:9092,kafka-broker-6:9092"
      depends_on:
          - kafka-broker-1
          - kafka-broker-2
          - kafka-broker-3
          - kafka-broker-4
          - kafka-broker-5
          - kafka-broker-6

volumes:
  kafka_volume_1:
  kafka_volume_2:
  kafka_volume_3:
  kafka_volume_4:
  kafka_volume_5:
  kafka_volume_6:
