name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch secrets from Infisical
        uses: Infisical/secrets-action@v1.0.9
        with:
          method: "oidc"
          identity-id: "9c25205a-5595-44a2-99f6-744f92ab6e45"
          domain: "https://app.infisical.com"
          env-slug: "dev"
          project-slug: "infisical-test-sm"

      - name: Use secret
        run: |
          echo "SECRET_FROM_SDK=$SECRET_FROM_SDK"
          echo "TEST_SECRET_VALUE=$TEST_SECRET_VALUE"
