name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fetch secrets from Infisical
        uses: Infisical/secrets-action@v1.0.9
        with:
          method: "oidc"
          # identity-id: "24be0d94-b43a-41c4-812c-1e8654d9ce1e"
          domain: "https://app.infisical.com"
          env-slug: "dev"
          project-slug: "infisical-test-sm"

      - name: Use secret
        run: |
          echo "SECRET_FROM_SDK=$SECRET_FROM_SDK"
          echo "TEST_SECRET_VALUE=$TEST_SECRET_VALUE"
